@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
 }

 .Link{
    font-weight: 500;
    font-size: 16px;
    color: black;
 }

 .Link:hover{
    font-size: 24px;
   color: black;
   

 }

 .LinkFooter{
   font-weight: 500;
   font-size: 16px;
   color: black;
 }
 .LinkFooter:hover{
   color:#9F9F9F;
 }